{% extends "gym/base.html" %}
{% load static %}


{% block title %} Gym - New Customer{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'gym/newCust.css' %}">
{% endblock %}

{% block content %}
    
        <!-- Display Errors if any -->
        {% if errors %}
        <div id="errorPopup" class="popup active">
            <p><strong>Errors:</strong></p>
            <ul>
                {% for error in errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
            <button onclick="closePopup()">Close</button>
        </div>
        {% endif %}

        <div class="content">
            <div class="header">
                <h1>New Customer</h1>
                <div class="userIcon">
                    <form method="post" action="{% url 'logout' %}" style="display: inline;">
                        {% csrf_token %}
                        <button type="submit" style="background: none; border: none; padding: 0; cursor: pointer;">
                            <i class="fa-solid fa-power-off" style="color: #c7c7c7;"></i>
                        </button>
                    </form>
                </div>
            </div>
            <hr style="color:#9A9A9A">
            <div class="formContainer">
                <form method="POST">
                    {% csrf_token %}
                    <div class="formBody">
                        <div class="row1">
                            <div class="formGroup">
                                <label for="name">Name*</label>
                                <input type="text" autocomplete="off" name="name" id="name" placeholder="Enter Name" value="{{ name|default:'' }}" required>
                            </div>
                            <div class="formGroup">
                                <label for="gender">Gender*</label>
                                <select name="gender" id="gender" required>
                                    <option value="">--Select--</option>
                                    <option value="M" {% if gender == "M" %}selected{% endif %}>Male</option>
                                    <option value="F" {% if gender == "F" %}selected{% endif %}>Female</option>
                                </select>
                            </div>
                        </div>

                        <div class="row2">
                            <div class="formGroup">
                                <label for="phone">Phone*</label>
                                <input type="tel" autocomplete="off" name="phone" id="phone" placeholder="10-digit mobile number" value="{{ phone|default:'' }}" required>
                            </div>
                            <div class="formGroup">
                                <label for="dob">Date of Birth*</label>
                                <input type="date" autocomplete="off" id="dob" name="dob" value="{{ dob|default:'' }}" required>
                            </div>
                        </div>

                        <div class="row3">
                            <div class="formGroup">
                                <label for="date_of_admission">Date of Admission</label>
                                <input type="date" autocomplete="off" id="date_of_admission" name="date_of_admission" value="{{ date_of_admission|default:'' }}">
                            </div>
                            <div class="formGroup">
                                <label for="email">Email</label>
                                <input type="email" autocomplete="off" name="email" id="email" placeholder="xyz@gmail.com" value="{{ email|default:'' }}">
                            </div>
                        </div>

                        <div class="row4">
                            <div class="formGroup">
                                <label for="admission_number">Admission Number</label>
                                <input type="text" autocomplete="off" name="admission_number" id="admission_number" placeholder="Enter Admission Number" value="{{ admission_number|default:'' }}">
                            </div>
                            <div class="formGroup">
                                <label for="height">Height (in cm)</label>
                                <input type="number" autocomplete="off" name="height" id="height" placeholder="Enter Height" value="{{ height|default:'' }}">
                            </div>
                            <div class="formGroup">
                                <label for="weight">Weight (in kg)</label>
                                <input type="number" autocomplete="off" name="weight" id="weight" placeholder="Enter Weight" value="{{ weight|default:'' }}">
                            </div>
                        </div>

                        <div class="row5">
                            <div class="formGroup">
                                <label for="bloodGroup">Blood Group</label>
                                <select name="bloodGroup" id="bloodGroup" required>
                                    <option value="">--Select--</option>
                                    {% for value, label in blood_group_choices %}
                                        <option value="{{ value }}" {% if bloodGroup == value %}selected{% endif %}>{{ label }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="formGroup">
                                <label for="health">Health Problems</label>
                                <input type="text" autocomplete="off" name="health" id="health" placeholder="Health Data" value="{{ health|default:'' }}">
                            </div>
                        </div>
                    </div>

                    <div class="formGroup">
                        <input type="submit" class="submitForm" value="Create">
                    </div>
                </form>
            </div>
        </div>

    <script>
        function closePopup() {
            var popup = document.getElementById('errorPopup');
            popup.classList.remove('active');  // Remove the "active" class to hide the popup
        }
        const dateInput = document.getElementById('date_of_admission');
        dateInput.valueAsDate = new Date();
    </script>
{% endblock %}

{% block extra_js %}
    <script src="https://kit.fontawesome.com/570d6d8240.js" crossorigin="anonymous"></script>
{% endblock %}
