{% extends "gym/base.html" %}
{% load static %}

{% block title %} Gym - Fee Details{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'gym/customer_fee_details.css' %}">
{% endblock %}

{% block content %}
    
        

        <div class="content">
            <div class="header">
                <h2>Payment Details for {{ customer.name }}</h2>
            </div>

            <table>
                <thead>
                    <tr>
                        <th>Year</th>
                        <th>Month</th>
                        <th>Category</th>
                        <th>Amount Paid</th>
                        <th>Date of Payment</th>
                    </tr>
                </thead>
                <tbody>
                    {% for fee in fee_details %}
                    <tr>
                        <td>{{ fee.year }}</td>
                        <td>{{ fee.get_month_display }}</td>
                        <td>{{ fee.category }}</td>
                        <td>{{ fee.amount_paid }}</td>
                        <td>{{ fee.date_of_payment }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    
{% endblock %}

{% block extra_js %}
    <script src="https://kit.fontawesome.com/570d6d8240.js" crossorigin="anonymous"></script>
{% endblock %}
